/* Add your own styles */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif ;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    color: #3f3d56;
}

/*--------------------------Header--------------------------*/
header{
    /* background-image: linear-gradient(135deg, #c8a3ec, #85bb97); */
    background-image: linear-gradient(to bottom, #c8a3ec, #85bb97 90%);
    background-color: #99c8a9; /*for sites that don't support gradients*/
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    padding: 35px;
    height: 225px;

}

header h1{
    margin: 0;
    padding: 10px;
    font-size: 65px;
    color: white;
    text-align: center;
}

header img{
    width: 250px;
    text-align: center;
}

/*--------------------------Main--------------------------*/

main{
    margin: 50px;
}

#controls{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    padding: 20px;
}

label{
    font-weight: bolder;
    font-size: 18px;
    display: inline;
}

input{
    width: 500px;
    padding: 10px;
    border-radius: 30px;
    border: solid 1px #3f3d56;
    margin: 0px 5px;
    -moz-transition-duration:0.7s;
    -webkit-transition-duration:0.7s;
    -o-transition-duration:0.7s;
    display: in;
}

input:hover{
    width: 550px;
}

input:focus{
    width:300px;
  }

#btns{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
}

#lookup{
    width: 140px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: #3f3d56;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    -moz-transition-duration:0.6s;
    -webkit-transition-duration:0.6s;
    -o-transition-duration:0.6s;
    margin: 35px 10px;
    
}

#lookup:hover{
    border: solid 1px #3f3d56;
    color: #3f3d56;
    background-color: white;
    cursor: pointer;
    font-weight: bolder; 
}

#city{
    width: 140px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: #85bb97;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    -moz-transition-duration:0.6s;
    -webkit-transition-duration:0.6s;
    -o-transition-duration:0.6s;
    margin: 35px 10px;
    
}

#city:hover{
    border: solid 1px #85bb97;
    color: #85bb97;
    background-color: white;
    cursor: pointer;
    font-weight: bolder; 
}



/*--------------------------Results--------------------------*/
#result{
    padding: 35px;
    display: flex;
    margin: 50px;
}
tr{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

table{
    width: 100%;
    border-spacing: 15px;
}

td{
    border: none;
    padding:5px;
    text-align: left;
}

th{
    background-color: #3f3d56;
    color: white;
    padding: 10px;
    border-radius: 15px;
    font-size: 18px;
}

